version: '3'

services:
    fi_shodan:
        build: './'
        volumes:
            - ./:/fish_shodan
        environment:
            - REDIS_URL=redis
            - REDIS_PORT=6379
        ports:
            - '5000:5000'
        depends_on:
            - redis
    
    redis:
      image: redis
      ports:
        - '6379:6379'
