<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/tasks.css">
    <title>Document</title>
</head>

<body>
<div class="container">
    <div class="main">
        <button class="btn__help" onclick="openModal()">Help me!</button>
        <form method="POST" id="main_form">
            <h2 style="text-align: center;">FiShodan</h2>
            <h3>Определение фишинговых сайтов</h3>
            <hr>
            Введите домен:
            <input type="text" placeholder="Введите домен..." id="input__domain">
            или список доменов:
            <input type="file" id="input__file">
            <button type="button" id="btn__submit" onclick="getData()">Submit</button>    
        </form>
        <hr>
        <div class="tasks">
            <div class="tasks__header">
                <h3>Задачи:</h3>
            </div>
            <div class="task">
                <div class="task__header">
                    Домен: merbank.ru
                </div>
                <div class="task__status">
                    Статус: в ожидании
                </div>
                <div class="task__result">
                    Результат: не готов
                </div>
            </div>
        </div>
    </div>
    <div class="help__div" id="modal-window">
        <button onclick="closeM()">aa</button>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et optio alias ducimus aliquam consequatur recusandae rerum, sed ea cumque voluptatem dignissimos dolorem doloremque. Nesciunt distinctio nostrum consequatur molestias ea eum!
    </div>
</div>

    <script src="static/js/index.js"></script>
    <script>

        let ini= document.querySelector('#modal-window');
        ini.classList.add("hideModal");
        
        function openModal(){
        let modal= document.querySelector('#modal-window');
        modal.classList.add("showModal");
        
        }

        function closeM(){

            let m= document.querySelector('#modal-window');
        m.classList.remove("showModal");
        
        }
      </script>
</body>

</html>
