<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/tasks.css">
    <title>FiShodan</title>
</head>

<body>
<div class="container">
    <!-- <div class="a">
        <img width="665px" src="../static/COMICS USER.png" alt="">
    </div> -->
    <div class="main">
        <button id="btn__help" class="btn__help">Помощь!</button>
        <form method="POST" id="main_form">
            <h1 style="text-align: center;">FiShodan</h1>
            <h3>Определение фишинговых сайтов</h3>
            <hr>
            Введите домен:
            <input type="text" placeholder="Введите домен..." id="input__domain">
            <input type="file" id="input__file">
            <button type="button" id="btn__submit" onclick="getData()">Запуск</button>    
        </form>
        <hr>
        <div class="tasks">
            <div class="tasks__header">
                <h3>Задачи:</h3>
            </div>
            <div class="list__tasks">
                <div class="task">
                    <div class="task__header">
                        Домен: gooooogle.com
                    </div>
                    <div class="task__status">
                        Статус: в ожидании
                    </div>
                    <div class="task__result">
                        Результат: не готов
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="a">
        <img width="665px" src="../static/comics hacker.png" alt="">
    </div> -->

    <div class="blur"></div>
    <div class="help__div" id="help__div">
        <button class="close__modal" id="close__modal">
            <p style="font-size: 20px;">[ x ]</p>
        </button>
        <ol>
            <li>Введите домен для проверки. Либо можете ввести файл, в котором каждый домен на новой строке;</li>
            <li>Затем нажмите кнопку запуск;</li>
            <li>Появится список задач. В каждой задаче есть домен, статус обработки и результат.</li>
        </ol>
    </div>
</div>

    <script src="static/js/index.js"></script>
    <script>
        var help = document.getElementById("btn__help");
        help.addEventListener("click", function() {
            var blur = document.getElementsByClassName("blur");
            blur[0].classList.add("visible");
            var modal = document.getElementsByClassName("help__div");
            modal[0].classList.add("visible");
        })

        var close = document.getElementById("close__modal");
        close.addEventListener("click", function() {
            var blur = document.getElementsByClassName("blur");
            blur[0].classList.remove("visible");
            var modal = document.getElementsByClassName("help__div");
            modal[0].classList.remove("visible");
        })

        function insertData(results) {
            var list = document.getElementsByClassName("list__tasks")[0];
            var res = JSON.parse(results);
            var htmlCode = "";

            for (var i = 0; res.length; i++) {
                htmlCode += `<div class="task">
                    <div class="task__header">
                        Домен: ${ res[i]["id"] }
                    </div>
                    <div class="task__status">
                        Статус: ${ res[i]["status"] }
                    </div>
                    <div class="task__result">
                        Результат: ${ res[i]["result"] }
                    </div>
                </div>`
            }


        }
    </script>
</body>

</html>
