body {
    background-color: black;
    margin: 0 0 ;
    color: white;
}
.container {
    margin: 0 0;
    /* position: fixed; */
    width: 99.2vw;
    min-height: 97.7vh;
    background-image: url(../comics.png);
    background-repeat: repeat;
    background-size: 640px;
    background-position-x: center;

}

.main {
    background-color: rgba(21, 164, 226, 0.733);
    background-image: linear-gradient(rgba(21, 164, 226, 0.75), rgba(61, 19, 18, 0.75));
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px black;

    border: 1px solid black;
    padding: 10px 20px;

    max-width: 550px;
    margin: 0 auto;

    min-height: 97.7vh;

    font-size: 20px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}


input, button {
    margin: 10px 0;
    display: block;
    font-size: 16px;
} 

button {
    border: 1px solid #767676;
    border-radius: 2px;
}   

.warning {
    border: 2px solid #931515;
}

hr {
    background-color: #3D1312;
}

@media (max-width: 1000px) {
    body {
        background-size: 500px;
    }
}

@media (max-width: 700px) {
    body {
        background-repeat: no-repeat;
        background-size: 600px;
    }
}

@media (max-width: 500px) {
    body {
        background-size: 500px;
    }

    form {
        top: 20%;
    }
}


