@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: black;
    margin: 0 0 ;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.container {
    margin: 0 0;
    /* position: fixed; */
    background-image: url("../comics.png");
    width: 99.2vw;
    min-height: 97.7vh;
    /* background-repeat: repeat;
    background-size: 640px; */
    background-position-x: center;
    background-repeat: repeat-y;
    background-attachment: fixed;

    display: flex;
}

.main {
    position: relative;

    background-color: rgba(21, 164, 226, 0.733);
    background-image: linear-gradient(rgba(21, 164, 226, 0.75), rgba(61, 19, 18, 0.75));
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px black;

    border: 1px solid black;
    padding: 10px 20px;

    max-width: 550px;
    margin: 0 auto;

    min-height: 97.7vh;

    font-size: 20px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}


input, button {
    margin: 10px 0;
    display: block;
    font-size: 16px;
} 

button {
    border: 1px solid #767676;
    border-radius: 2px;
    padding: 5px 10px;
}   

button:hover {
    cursor: pointer;
}

.btn__help {    
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 5px 10px;

    color: rgb(223, 223, 223);
    background-color: transparent;
}   

.warning {
    border: 2px solid #931515;
}

hr {
    background-color: #3D1312;
}

.blur {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);

    z-index: 2;
}

.help__div {
    max-width: 700px;
    display: none;
    position: fixed;
    top: 50%;
    left: 25%;
    margin:  0 auto;
    transform: translateY(-50%);

    border: 1px solid white;
    box-shadow: 0 0 30px black;
    background-color: green;
    padding: 50px 75px;
    z-index: 3;
}

.close__modal {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 0;
    background-color: transparent;
    padding-right: 10px;
    color: white;
}

.visible {
    display: block;
}

@keyframes slidein {
    from {
      transform: translateX(0%);
      opacity: 0;
    }
  
    to {
      transform: translateX(100%);
      opacity: 1;
    }
}

@keyframes slideout {
    from {
      transform: translateX(0%);
      opacity: 1;
    }
  
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
}


 @media (max-width: 1000px) {
    .help__div {
    padding: 10px 15px;
    }
}

@media (max-width: 700px) {
    body {
        background-repeat: no-repeat;
        background-size: 600px;
    }
}

@media (max-width: 500px) {
    body {
        background-size: 500px;
    }

    form {
        top: 20%;
    }
} 