.task {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    font-size: 20px;
    border: 1px solid white;
    padding: 10px 20px;
    margin: 10px 0;
    align-items: center;

    box-shadow: 0 0 10px black;
}

.task__header {
    grid-column: 1/2;
}

.task__status {
    grid-column: 2/3;
    text-align: center;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 0px 5px;
}

.task__result {
    grid-column: 3/4;
    text-align: right;
}
